article {
    h4 {
        float: right;
        font-family: "baby";
        font-size: 1.5em;
    }
    div {
        img {
            width: 200px;
            height: 300px;
            float: right;
            margin-left: 20px;
            border-radius: 10px;
        }
        p {
            text-align: justify;
        }
    }
}